.Header
{
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: space-between;

    box-sizing: border-box;
    width: 100%;
}

.Header-LogoImg
{
    max-width: 100%;
}

.Header_dark
{
    transition: .3s background ease-in-out;

    background: #fff;
}

@media(max-width: 1050px)
{
    .Header-Logo
    {
        max-width: 102px;
    }
}
