@font-face
{
    font-family: 'Bebas Neue';
    font-weight: bold;
    font-style: normal;

    src: url('./fonts/BebasNeueBold.woff2') format('woff2'), url('./fonts/BebasNeueBold.woff') format('woff');
}

@font-face
{
    font-family: 'Museo Sans Cyrl 700';
    font-weight: 600;
    font-style: normal;

    src: url('./fonts/MuseoSansCyrl-700.woff2') format('woff2'), url('./fonts/MuseoSansCyrl-700.woff') format('woff');
}

@font-face
{
    font-family: 'Museo Sans Cyrl 300';
    font-weight: 300;
    font-style: normal;

    src: url('./fonts/MuseoSansCyrl-300.woff2') format('woff2'), url('./fonts/MuseoSansCyrl-300.woff') format('woff');
}

body
{
    font-family: 'Museo Sans Cyrl 300';

    margin: 0;

    color: #303030;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code
{
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
